  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan It</title>
    <link rel="icon" href="/static/photos/thumbtag.png" type="image/x-icon" />

    <link rel="stylesheet" href="/static/style.css" />

    <script>  
      let trips = {{{trips}}}
      let user = {{{currentUser}}}  
      let correctUser = {{correctUser}}
    </script>
    <script src="/static/script.js"></script>

  </head>
  <body
    style="background-color:#E5E5E5;
    background-image:none;
    display: flex;
    min-height: 400vh;
    justify-content: right;
    padding-right:150px;
    padding-top:100px;
    font-family:Inter;
  "
  >

    {{!-- Overlay --}}
     <div class="overlay overlay-slide-left overlay-media media-overlay" id="overlay">
      <nav class="user-navbar">
      <form action="/" method="GET">
        <li class="overlay-home-button"><button  style="font-family: Inter; ">Home</button></li>
        {{!-- <li class="overlay-trip-button" ><button style="font-family: Inter;">New Trip</button></li> --}}
      </form>
      {{#if correctUser}}
      <form action="/alltrips" method="GET">
      <li class="all-trips-overlay-button"><button id="all-trips-btn" style="font-family: Inter; ">Delete Trips</button></li>
      
      </form>
        <li class="media-overlay-trip-button" style="width:100%" ><button id="media-overlay-trip-btn" style="font-family: Inter;">Add Trip</button></li>
        {{/if}}
        {{!-- {{#if correctUser}} --}}
        {{!-- <li><a href="/{{loggedinuser.username}}"><button class="hidden" id="my-trip-button" style="font-family: Inter; ">My Trip</button></a></li> --}}
        {{!-- {{#else}} --}}
        <li><a href="/{{loggedinuser.username}}"><button id="my-trip-button" style="font-family: Inter; ">My Page</button></a></li>
        {{!-- {{/if}} --}}
        {{!-- Media addd trip input section div --}}
        <div class ="media-trip-container hidden" id="media-trip-container">
              <h3 class ="from-h3">From:</h3>
              <input class="new-trip-from-date" id="media-new-trip-from-date"  name="from" type="date">
              <h3 class="to-h3" >To:</h3>
              <input class="new-trip-to-date"  id="media-new-trip-to-date" name="to" type="date">
              <h3 class="where-h3">Where:</h3>
              <input class="new-trip-location" id="media-new-trip-location" type="text" placeholder="enter location" >
              <button class="post-trip-button" id="media-trip-button">post trip dates</button>
        </div>
      {{!-- <form action="/" method="GET"> --}}
          <a href="https://keepcalms.com/p/when-you-realize-you-have-no-friends/"> 
          <li class="overlay-friends-button" ><button style="font-family: Inter;">Visit Friends</button></li>
          {{!-- <li class="overlay-map-button" ><button style="font-family: Inter;">New Map</button></li> --}}
      {{!-- </form> --}}
        </a>
          {{#if correctUser}}
          <li class="media-overlay-map-button"  style="width:100%"><button id="media-overlay-map-btn" style="font-family: Inter;">Add Map</button></li>
          {{/if}}
          <div class="media-map-container hidden" id ="media-map-container" >
            <input name="mappost"
              class="new-map-input"
              id="media-post-location-field"
              type="text"
              
              placeholder="search for place"
            />
            <input name="date" 
              id="media-post-time"
              class="map-time-input"
            type="datetime-local"  >
            <button class="post-location-button"
             id="media-post-map-button">post a place</button>

          </div>

      <form action="/do/logout" method="GET">
        {{!-- <a class="a-link" href="/logout"> --}}
        <li><button style="font-family:Inter">Log Out</button></li>
        {{!-- </a> --}}
          {{!-- <li class="a-link" ><button style="font-family: Inter;">Log Out</button></li> --}}
      </form> 
      </nav>
      
     </div>
     <!-- Menu Bars -->
    <div class="menu-bars" id="menu-bars">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    {{!-- User Name --}}
    <div class="media-name-status-container" >
    <h1 class="user-name-h1" style="font-family:Oswald; letter-spacing:2; font-size:52px">{{user.username}}</h1>
    <div class="status-circle" id="status-circle"></div>
    <h3 class="hours-ago-h3" id="online-offline"> </h3>
    </div>
    {{! GoogleMaps image }}
    
    <div class="location-container" id="location-container">
      <img
        id="map-image"
        style="filter: saturate(60%);opacity: 1; object-fit: contain; width:250px"
        alt=""
      />
    </div>
    <h3 class="loc-status-h3" id = "loc-status-h3"></h3>
    

    {{!Make a new Post to the  Timeline }}
   
    <div class="location-trip-container" id="location-trip-container">
      {{#if correctUser }}
      <button class="new-trip-button" id="new-trip-button" style="">add new trip </button>
      <button class="new-location-button" id="new-location-button" style="">add new place</button>
      {{/if}}
    </div>
    <div class="hidden" id="trip-goback-button-div" >
    <button class="trip-goback-button" id ="trip-goback-button"><img src="/static/photos/arrow.png"
     style="height:30px; width:30px; opacity:.5"></button>
    </div>
    <div class=" hidden newpost-container" id="newpost-container">
      <input name="mappost"
        class="new-map-input"
        id="post-location-field"
        type="text"
        placeholder="search for place"
      />
      <input name="date" 
        id="post-time"
        class="map-time-input"
       type="datetime-local"  >
      <button class="post-location-button"
        id="post-location-button">post to timeline</button>
    </div>
    <div class="newtrip-container hidden" id="newtrip-container">
      <h3 class ="from-h3">From:</h3>
      <input class="new-trip-from-date" id="new-trip-from-date"  name="from" type="date">
      <h3 class="to-h3" >To:</h3>
      <input class="new-trip-to-date" id="new-trip-to-date" name="to" type="date">
      <h3 class="where-h3">Where:</h3>
      <input class="new-trip-location" id="new-trip-location" type="text" placeholder="enter location" >
      <button class="post-trip-button" id="post-trip-button">post trip dates</button>
    </div>


    {{! Timeline Container }}
    <div class="container">
      <div class="timeline-container" id="timeline-container"></div>
      {{#each output}}
        {{#if this.latitude}}
         <form class="delete-button-form" style="z-index:10" id="delete-button-form" action="/deletePost/{{this._id}}" method="GET">
            {{!-- {{#if correctUser}}   --}}
            <button class="delete-post-button" id="delete-post-button" onclick="return confirm('Are you sure you want to delete this post?');"><img src="/static/photos/delete.png" style="height:18px; width:18px" /></button>
            {{!-- {{/if }} --}}
            </form>
            {{!Content Container}}
          <span id="id-{{this._id}}" /> 
          <div class="content-container" id="content-container">
           <div class="post-desc-div" id="post-desc-div-{{this._id}}" style="height:50px; display:flexbox; justify-content:space-between">
             <h3 class="postdescription-text" style="display:inline-block; " id="postdescription-text-{{this._id}}">{{this.description}}</h3>
             <h3 class="post-time-h3">{{this.time}} </h3>
            </div>
            <div class="post-desc-input-div hidden" id="post-desc-input-div-{{this._id}}" style="height:50px">
                <input class="post-description-input" id="post-description-input-{{this._id}}" placeholder="event description" type="text">
            </div>
            <img class="post-image" style="filter: saturate(60%);opacity: .8;" width="300" height="110" id="timeline-map" src='https://maps.googleapis.com/maps/api/staticmap?center={{this.latitude}},{{this.longitude}}&zoom=12&markers=size:small|{{this.latitude}},{{this.longitude}}&scale=2&size=300x110&key=AIzaSyBKClGaUcZWanoyZGta_wrGZh8t-5q6pu8&style=element:geometry%7Ccolor:0xebe3cd&style=element:labels.text.fill%7Ccolor:0x523735&style=element:labels.text.stroke%7Ccolor:0xf5f1e6&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xc9b2a6&style=feature:administrative.land_parcel%7Cvisibility:off&style=feature:administrative.land_parcel%7Celement:geometry.stroke%7Ccolor:0xdcd2be&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xae9e90&style=feature:administrative.neighborhood%7Cvisibility:off&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:labels.text%7Cvisibility:off&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x93817c&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xa5b076&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x447530&style=feature:road%7Celement:geometry%7Ccolor:0xf5f1e6&style=feature:road%7Celement:labels%7Cvisibility:off&style=feature:road.arterial%7Celement:geometry%7Ccolor:0xfdfcf8&style=feature:road.highway%7Celement:geometry%7Ccolor:0xf8c967&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xe9bc62&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0xe98d58&style=feature:road.highway.controlled_access%7Celement:geometry.stroke%7Ccolor:0xdb8555&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x806b63&style=feature:transit.line%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:transit.line%7Celement:labels.text.fill%7Ccolor:0x8f7d77&style=feature:transit.line%7Celement:labels.text.stroke%7Ccolor:0xebe3cd&style=feature:transit.station%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:water%7Celement:geometry.fill%7Ccolor:0xb9d3c2&style=feature:water%7Celement:labels.text%7Cvisibility:off&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x92998d'/>
          </div>
          <div class="post-dot"></div>
          <div class="post-triangle"></div>
          
        {{else}}
          {{#if this.loc}}
          <div class="day-divider-container id-{{this.loc}}" id="day-divider-container-{{this.loc}}">
          </div>
          <h3 class="divider-time" >{{this.t}}</h3>
          {{else}}
          <div class="day-divider-container" id="day-divider-container">
          </div>
           <h3 class="divider-time" >{{this.t}}</h3>
           {{/if}} 
          {{!-- {{/if}} --}}
        {{/if}}
      {{/each}} 
    </div>
    {{! Script }}
   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKClGaUcZWanoyZGta_wrGZh8t-5q6pu8&libraries=places&callback=initMap"
    />
     <script>
     
    </script>


  </body>
  

</html>